#survey-form {
    max-width: 600px;
    margin: 20px auto;
  }
    
  #title {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: purple;
    margin: 0;
  }
  
  #description {
    text-align: center;
    color: purple;
    font-family: arial;
    margin-bottom: 40px;
  }
  
  /* What does it mean your #email should be descendent of #survey-form, does that have to go in css?? */
  
  #name {
    font-family: monospace;
    width: 300px;
  }
  
  #email {
    font-family: monospace;
    width: 300px;
  }
  
  #number {
    font-family: monospace;
    width: 300px;
  }
  
  #textarea {
    margin: 20px 0;
    height: 200px;
    width: 600px;
  }
  
  /* how to get things on top of each other */
  
  /* make the submit button aesthetic */
  
  /* how  */